<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yesongdh.mapper.StoryContentMapper">
  <resultMap id="BaseResultMap" type="com.yesongdh.bean.StoryContent">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="sub_id" jdbcType="INTEGER" property="subId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
</mapper>