<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yesongdh.mapper.StoryAuditMapper">
  <resultMap id="BaseResultMap" type="com.yesongdh.bean.StoryAudit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="sub_id" jdbcType="INTEGER" property="subId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="authorId" jdbcType="VARCHAR" property="authorid" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <select id="getStoryAuditsByCondition" resultType="StoryAudit">
  	select * from story_audit where 1 = 1 
  	<if test="storyAudit.title != null">
  		and title like #{storyAudit.title}, 
  	</if>
  	<if test="storyAudit.author != null">
  		and author like #{storyAudit.author}, 
  	</if>
  	<if test="storyAudit.type != null">
  		and type = #{storyAudit.type}, 
  	</if>
  	<if test="storyAudit.status != null">
  		and status = #{storyAudit.status}, 
  	</if>
  	<if test="storyAudit.createDate0 != null">
  		and create_time &gt; #{storyAudit.createDate0}, 
  	</if>
  	<if test="storyAudit.createDate1 != null">
  		and create_time &lt; #{storyAudit.createDate1}, 
  	</if>
  </select>
</mapper>